<%- include('./includes/head') %>
<!-- tag ejs que puxa um html pre pronto já -->



  <section class="container">
    <!-- puxa uma variavel do controller -->
    <h1> <%= titulo %> </h1>
    <form action="/" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label>Cliente</label>
      <!-- atributo name eh a chave do objeto req.body no backend -->
      <input type="text" name="nomeCliente"> 
      <button type="submit">Submit</button>
    </form>
  </section>

<%- include('./includes/footer') %>